<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Remove IIS WebDAV module so that PUT and DELETE verbs reach ASP.NET Core routing -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <!-- Remove WebDAV handler as well (if present) -->
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\CMNetwork.WebApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
